<div class="bg-gray-800 p-4">
  <nav class="flex items-center justify-between px-4">
    <div class="text-white font-semibold text-xl">Livros</div>
    <div class="relative">
      <button class="text-white py-2 px-4 bg-blue-600 rounded hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300">
        Opções
      </button>
      <div class="dropdown-content absolute hidden bg-white shadow-md rounded-lg w-30 mt-1">
        <%= link_to 'Cadastrar Livro', new_book_path, class: "block px-4 py-2 text-gray-800 hover:bg-gray-200" %>
        <%= link_to 'Cadastrar cliente', new_user_path, class: "block px-4 py-2 text-gray-800 hover:bg-gray-200" %>
        <%= link_to 'Ver Clientes', users_path, class: "block px-4 py-2 text-gray-800 hover:bg-gray-200" %>
        <%= link_to 'Livros Disponíveis', book_free_path, class: "block px-4 py-2 text-gray-800 hover:bg-gray-200" %>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete, data: { confirm: 'Tem certeza que deseja sair?' }, class: "block px-4 py-2 text-red-600 hover:bg-red-100" %>
      </div>
    </div>
  </nav>
</div>
<div class="container mx-auto py-6">
 <%= render "books_table" %>
</div>

<script>
  //fechar o dropdown
  document.querySelector('button').addEventListener('click', () => {
    const dropdown = document.querySelector('.dropdown-content');
    dropdown.classList.toggle('hidden');
  });
</script>
