<div class="bg-gray-800 p-4">
  <nav class="flex items-center justify-between">
    <div class="text-white font-semibold text-xl">Detalhes do Livro</div>
    
</div>

<div class="container mx-auto py-6">
  <div class="bg-white p-6 rounded-lg shadow-lg">
    <div class="grid grid-cols-3 gap-8 items-start">
      <div class="w-48 h-72 bg-gray-300 flex-shrink-0">
         <img src="<%= @book.url_image_cover %>" alt="<%= @book.title %> - Capa Frontal" class="w-full h-full object-cover rounded-md" />
      </div>

      <div class="col-span-1">
        <div class="space-y-4">
          <div class="text-3xl font-bold text-gray-900"><%= @book.title %></div>
          <div class="text-xl text-gray-700"><span class="font-semibold">Autor:</span> <%= @book.author %></div>
          <div class="text-xl text-gray-700"><span class="font-semibold">Páginas:</span> <%= @book.pages %></div>
          <div class="text-lg text-gray-700"><span class="font-semibold">Descrição:</span> <%= @book.description %></div>
          <div class="text-xl text-gray-700"><span class="font-semibold">Disponível:</span> <%= raw(@book.rented ? "<span class='text-red-500 font-bold'>Não</span>" : "<span class='text-green-500 font-bold'>Sim</span>") %></div>
        </div>
      </div>

      <div class="w-48 h-72 bg-gray-300 flex-shrink-0">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51YDmVZxPyL.jpg" alt="<%= @book.title %> - Capa Traseira" class="w-70 h-full object-cover rounded-md" />
      </div>
    </div>

    <div class="mt-8 flex justify-center">
      <%= link_to 'Voltar para Livros', books_path, class: "py-3 px-6 bg-gray-500 text-white rounded hover:bg-gray-600 transition-all text-lg" %>
    </div>
  </div>
</div>  
